<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90519129854-efsgns84ht0dgucscs5ktlvoh0q56ubl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90519129854-efsgns84ht0dgucscs5ktlvoh0q56ubl</string>
	<key>API_KEY</key>
	<string>AIzaSyAWn5f3Ad1wFMLpyzDFZ9-ZIarBKjrZCQg</string>
	<key>GCM_SENDER_ID</key>
	<string>90519129854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherapp</string>
	<key>PROJECT_ID</key>
	<string>solid-justice-309213</string>
	<key>STORAGE_BUCKET</key>
	<string>solid-justice-309213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90519129854:ios:521bb0d4145b73d12f5faf</string>
	<key>DATABASE_URL</key>
	<string>https://solid-justice-309213-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>